<div data-payment-target="po" class="hidden">
  <div>
    <%= form.label :po_number, class: "block text-sm font-medium mb-1" %>
    <%= form.text_field :po_number, class: "input-field w-full" %>
  </div>
</div>